<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Saboteur</title>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
        <link rel="stylesheet" type="text/css"  href="css/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="cabeceraYMenu">
          <!--Cabecera-->
          <div class="cabecera">
                    <div id="logo"><img src="images/Logo.png" alt="logo"></div>
          </div>
          <div id="fondoMenu">
            <img src="images/entrada_cueva.png" alt="logoDer">
          </div>
            <!--Menu-->
            <div class="menu">
    		<ul>
                    <li id="boton"><a href="login.html"><img id="imgBoton" src="images/piedra_login.png" alt="Iniciar sesion"></a></li>
                    <li id="boton"><a href="nuevousuario.html"><img id="imgBoton" src="images/piedra_nuevo_usuario.png" alt="Nuevo usuario"></a></li>
                </ul>
            </div>
        </div>


	<!--Cuerpo-->
        <div class="cuerpo">           
            <div class="entrada">
                <form method="POST" action="/nuevousuario">
                    <div id="nick">
                        <label for="formNick">Apodo:</label>
                        <input type="text" name="nick" id="formNick" required>
                    </div>
                    <div id="datosUsuario">
                       <label for="formNombre">Nombre:</label>
                       <input type="text" name="nombre" id="formNombre" required>
                       <label for="formApellidos">Apellidos:</label>
                       <input type="text" name="apellidos" id="formapellidos" required>
                    </div>
                    <div id="contrasenia">
                       <label for="formContrasenia">Contraseña:</label><br>
                       <input type="password" name="contra" id="formContrasenia" required><br>
                       <label for="formContraseniaRep">Repetir la Contraseña:</label><br>
                       <input type="password" name="contraRep" id="formContraseniaRep" required>

                    </div>
                    <div id="fechaNac">
                       <label for="formFecha">Fecha de nacimiento:</label>
                       <input type="date" name="FechaNac" id="formFecha" required> 
                    </div>
                    <div id="sexo">
                       <input type="radio" name="sexo" value="H" id="formHombre">
                       <label for="formHombre">Hombre</label>
                       <input type="radio" name="sexo" value="M" id="formMujer">
                       <label for="formMujer">Mujer</label>
                    </div>
                    <div id="imagen">
                       <label for="formImagen">Selecciona una imagen de perfil:</label>
                       <input type="file" name="imgPerfil" id="formImagen" >
                    </div>
                    <div>
                       <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>


    </body>
</html>
